#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* new styles for backend cheat sheet */
h1 {
  font-size: 3.2em;
  color: rgb(209, 157, 24);
  text-shadow: 1px 2px black;
  line-height: 1.1;
  text-align: center;
}

button {
  padding: 10px;
  background: linear-gradient(black, red, gold);
  border: none;
  border-radius: 4px;
  color: #1f0c2e;
  font-weight: bold;
}
button:hover {
  color: aliceblue;
  cursor: pointer;
}



table {
  width: 100%;
  display: block;
  padding: 10px;
  /* margin: 0 auto; */
  text-align: center;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border-bottom: 1px solid #2f3d64;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1f0c2e;
}

.highlight {
  color: goldenrod;
  font-weight: bold;
}
.highlight:hover {
  color: rgb(228, 184, 73);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
