#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* new styles for backend cheat sheet */
h1 {
  font-size: 3.2em;
  color: rgb(209, 157, 24);
  text-shadow: 1px 2px black;
  line-height: 1.1;
  text-align: center;
}



.language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 6px;
  /* background: #222; */
  color: rgb(91, 89, 116);
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.language-toggle:hover {
  /* background: #444; */
  color:  rgb(172, 163, 228);
  color:  goldenrod;
}

.flags {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 10px;
}

.flag {
  width: 30px;  /* Adjust size */
  height: 20px;
  transition: opacity 0.3s ease-in-out;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}

.toggle-text {
  font-size: 14px;
  white-space: nowrap;
}


table {
  width: 100%;
  display: block;
  padding: 10px;
  /* margin: 0 auto; */
  text-align: center;
  border-collapse: collapse;
  margin: 10px 0;
}

th, td {
  border-bottom: 1px solid #2f3d64;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1d072e;
  color: rgb(153, 161, 168);
}

.highlight {
  color: goldenrod;
  font-weight: bold;
}
.highlight:hover {
  color: rgb(228, 184, 73);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
